div.formulario{
    background-color: black;   
    color:red;
    font-weight: bolder;
    border-radius: 10px;
    height: 1400px;
    width: 80%;
    margin: auto;
    margin-bottom: 150px;
    opacity: 0.8;
}