div.formulario{
    @include color;
    font-weight: bolder;
    border-radius: 10px;
    height: 1400px;
    width: 80%;
    margin: auto;
    margin-bottom: 150px;
    opacity: 0.8;
    div input.comentario{
      width: 200px;
      height: 50px;
      transition: all 1s;
      &:focus{
          width: 500px;
          height: 250px;

      }
    }
}