h1 {
  color: red;
  background-color: black;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 70px;
  opacity: 0.8;
  font-family: 'Supermercado One';
}

body {
  margin: 0px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(../imagenes/b6.png);
}

ul.menu {
  list-style-type: none;
  background-color: red;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  opacity: 0.8;
}

ul.menu li a {
  float: left;
  font-size: 20px;
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

ul.menu li a:hover {
  color: red;
  background-color: black;
}

div.subtitle {
  width: auto;
  margin: auto;
  width: 80%;
  margin-bottom: 100px;
}

div.subtitle h1 {
  color: red;
  background-color: black;
  text-align: center;
  opacity: 0.8;
  font-size: 3rem;
}

section.carrusel {
  width: 90%;
  margin: auto;
}

section.carrusel img {
  width: 100%;
  height: 100%;
  margin: auto;
}

h1.subtitulo {
  width: 80%;
  margin: auto;
}

section.autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 800px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

section.autor div.foto-autor {
  max-width: 45%;
  max-height: 700px;
  background-color: #7209b7;
  margin-left: 30px;
}

section.autor div.bibliografia {
  width: 50%;
  height: 700px;
  background-color: black;
  opacity: 0.7;
}

section.autor img {
  width: 100%;
  height: 100%;
}

section.obras {
  width: 90%;
  height: 2300px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
  opacity: 0.9;
}

section.obras div.game {
  width: 30%;
  height: 500px;
  border: 1px solid;
  margin: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

section.obras div.game:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.obras div.game img {
  width: 100%;
  height: 100%;
}

section.wrapper {
  width: 90%;
  height: 500px;
  background-color: black;
}

section.conjunto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 1000px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

section.conjunto div.botones {
  width: 15%;
  margin: auto;
}

section.conjunto div.botones ul.jefes {
  list-style-type: none;
  width: 90%;
  margin: auto;
}

section.conjunto div.botones ul.jefes li.jefes a {
  color: red;
  background-color: black;
  border-radius: 10px 0;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}

section.conjunto div.botones ul.jefes li.jefes a:hover {
  background-color: white;
  color: black;
}

section.conjunto div.video {
  width: 65%;
  height: 700px;
  margin: auto;
  margin-left: 150px;
}

section.conjunto div.video iframe {
  height: 100%;
  width: 100%;
}

section.conjunto div.video1 {
  width: 65%;
  height: 700px;
  margin: auto;
  margin-left: 150px;
}

section.conjunto div.video1 iframe {
  height: 100%;
  width: 100%;
}

section.conjunto div.video2 {
  width: 65%;
  height: 700px;
  margin: auto;
  margin-left: 150px;
}

section.conjunto div.video2 iframe {
  height: 100%;
  width: 100%;
}

.menu-canvas {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

div.formulario {
  color: red;
  background-color: black;
  font-weight: bolder;
  border-radius: 10px;
  height: 1400px;
  width: 80%;
  margin: auto;
  margin-bottom: 150px;
  opacity: 0.8;
}

div.formulario div input.comentario {
  width: 200px;
  height: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

div.formulario div input.comentario:focus {
  width: 500px;
  height: 250px;
}

section.formulario1 {
  width: 70%;
  height: 900 px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  border: 1px solid;
  font-size: 1.6rem;
  font-weight: bolder;
  padding: 40px;
  background-color: black;
  color: red;
}

section.formulario1 div input.comentario {
  width: 200px;
  height: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

section.formulario1 div input.comentario:focus {
  width: 500px;
  height: 250px;
}

section.formulario1 .btn {
  background-color: red;
  color: black;
  margin-right: 0%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.formulario1 .btn:hover {
  background-color: black;
  color: red;
}

section.caja-personajes {
  width: 100%;
  height: 700px;
  margin: auto;
}

/* Hover Card 
.......................................................................*/
div.catCard {
  border: solid 1px black;
  background: black;
  width: 221px;
  height: 400px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-size: small;
}

div.catCard img {
  border: black;
}

div.lowerCatCard {
  position: absolute;
  background: black;
  color: white;
  padding: 5px 5px;
  height: 200px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

div.lowerCatCard:hover {
  opacity: 0.95;
  bottom: 0;
  height: 390px;
}

div.catCard div.lowerCatCard {
  left: 0;
  bottom: -3%;
  width: 215px;
}

div.catCard:hover div.lowerCatCard {
  bottom: 0;
}

li.catCardList {
  width: 225px;
  display: inline-block;
  margin-right: 19px;
  margin-top: 25px;
}

li.catCardList-last {
  margin-right: 0;
  width: 225px;
  display: inline-block;
}

ul.catCardList {
  margin: 0;
}

#catCardButton {
  position: absolute;
  width: 209px;
  text-align: center;
  margin: auto;
  bottom: 5px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

div.lowerCatCard:hover #catCardButton {
  bottom: 5px;
}

.startingPrice span {
  font-size: 16px;
  color: #c90c12;
  font-weight: 300;
}

div.startingPrice {
  margin-bottom: 5px;
  color: #000;
  font-weight: 300;
}

.catCard img {
  border: 1px solid #dddddd;
  width: 219px;
  height: 198px;
}

.catCard img:hover {
  border: 1px solid #bababa;
}

/* Button 
  .......................................................................*/
.button {
  cursor: pointer;
  font-size: 15px !important;
  color: #ffffff;
  padding: 8px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 0 !important;
  background: #000;
  border: none;
  border-bottom: solid 1px #c90c12;
  margin: auto;
  margin-top: 10px;
}

.button:hover {
  background-color: black;
  border: 3px solid red;
  border-bottom: solid 1px #000;
  -webkit-box-shadow: 0 2px 3px #a8a8a8;
          box-shadow: 0 2px 3px #a8a8a8;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -ms-transform: scale(1.04);
}

.button:active {
  background: black;
}

.button a {
  color: #ffffff;
  padding: 7px 30px !important;
  text-decoration: none;
}

.button a:hover {
  color: red;
}

.button:hover {
  color: #fff;
}

/*redes sociales*/
.twitter {
  font: normal normal 10px Arial;
  text-align: center;
  color: #998578;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.twitter {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 14px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.twitter:hover {
  color: #FF7D6D;
  text-decoration: none;
}

span {
  font-style: italic;
  display: block;
}

img {
  max-width: 100%;
}

/* Floating Social Media Bar Style Starts Here */
.fl-fl {
  background: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -160px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

/* efecto de salir redes sociales*/
.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
}

.float-fb {
  top: 160px;
}

.float-fb:hover {
  background-color: blue;
}

.float-ig {
  top: 215px;
}

.float-ig:hover {
  background: -webkit-gradient(linear, left top, right top, from(#f9ed32), to(#ee2a7b));
  background: linear-gradient(to right, #f9ed32, #ee2a7b);
}

.float-gp {
  top: 270px;
}

.float-gp:hover {
  background-color: #19ee4e;
}

.float-rs {
  top: 325px;
}

.float-rs:hover {
  background: red;
}

section.box-datos {
  width: 80%;
  margin: auto;
}

section.box-datos img {
  width: 100%;
  height: 100%;
  margin: auto;
}
/*# sourceMappingURL=blood.css.map */