@import "variables";
$color-blood:red;
$color-fondo:black
$margin90:{
    margin: auto,
    width:90%

};
@mixin color{
    color:$color-blood
    background-color:$color-fondo
}
h1{
    @include color;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    opacity: 0.8;
}

body{
    margin: 0px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(../imagenes/b6.png);
}

ul.menu{
    list-style-type: none;
    background-color:$color-blood;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    opacity: 0.8;
    li {
        a{
            float: left;
            font-size: 20px;
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none; 
            
            &:hover{
                @include color;
            } 
    } 
    }
}

div.subtitle{ 
         width: map-get($margin90,margin);
         margin: auto;
         margin-top: 100px;
         margin-bottom: 100px;
         h1{
            @include color;
            text-align: center;
            opacity: 0.8;
         }
}

@import "inicio";
@import "peleas";
@import "ayuda";
@import "sugerencias";
@import "personajes";
@import "datosCuriosos";
