h1{
    color: red;
    background-color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    opacity: 0.9;
}

div.subtitle{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

body{
    margin: 0px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(../imagenes/b6.png);
}
/* Estilo para el menu */
ul.menu{
    list-style-type: none;
    background-color:red;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    opacity: 0.8;
}
/*Estilo para cada elemento*/
li.menu a{
    float: left;
    font-size: 20px;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
/*Accion sobre el link*/
li.menu a:hover{
    background-color: black;
    color: red;
}

section.conjunto{
    display: flex;
    width: 90%;
    height: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 25px;
}
div.botones{
    width: 15%;
    max-height: 400px;
    margin: auto;}
div.video{
    width: 65%;
    height: 700px;
    margin: auto;
    margin-left: 150px;
}

div.video1{
    width: 65%;
    height: 700px;
    margin: auto;
    margin-left: 150px;
}
div.video2{
    width: 65%;
    height: 700px;
    margin: auto;
    margin-left: 150px;
}

iframe{
    height: 100%;
    width: 100%;
}
ul.jefes{
    list-style-type: none;
    width: 90%;
    margin: auto;
    
}
/* Menu lateral izquierdo*/
li.jefes a{
    background-color: black;
    border-radius: 10px 0;
    color: red;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}
li.jefes a:hover{
    background-color: white;
    color: black;
}
h1{
    font-size: 35px;
}
li.menu a{
    font-size: 15px;
    color: white;
}
/* full responsive*/
@media screen and (max-width:768px){
    h1{
        font-size: 35px;
    }
    li.menu a{
        font-size: 15px;
        color: rgb(7, 1, 1);
    }
    section.conjunto{
        margin-top: 5px;
        height: 450px;
    }
    div.botones{
        width: 25%;
        max-height: 400px;
        font-size: 10px;
        margin-left: 0px;}
    div.video{
        border: 1px solid yellow;
        width: 55%;
        height: 200px;
        margin-left: 0px;
    }
    
    div.video1{
        border: 1px solid yellow;
        width: 55%;
        height: 200px;
        margin-left: 0px;
    }
    div.video2{
        border: 1px solid yellow;
        width: 55%;
        height: 200px;
        margin-left: 0px;
    }
    
    iframe{
        height: 100%;
        width: 100%;
    }
    ul.jefes{
        list-style-type: none;
        width: 90%;
        margin: auto;
        
    }
    /* Menu lateral izquierdo*/
    li.jefes a{
        background-color: black;
        border-radius: 10px 0;
        color: red;
        margin: 10px;
        padding: 10px;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    li.jefes a:hover{
        background-color: white;
        color: black;
    }
    
    li.menu a{
        font-size: 15px;
        color: white;
    }


}

