h1{
    color: red;
    background-color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    opacity: 0.8;
}
div.subtitle{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
body{
    margin: 0px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(../imagenes/b6.png);
}
/* Estilo para el menu */
ul.menu{
    list-style-type: none;
    background-color:red;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    opacity: 0.8;
}
/*Estilo para cada elemento*/
li.menu a{
    float: left;
    font-size: 20px;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
/*Accion sobre el link*/
li.menu a:hover{
    background-color: black;
    color: red;
}

.caja-Personajes{
    width: 90%;
    height: 700px;
    margin: auto;
    margin-top: 150px;
    display: grid;
    grid-template-rows: repeat(5,45%);
    grid-template-columns: repeat(5,15%);
    gap: 25px;
    justify-content: center;
}


@media screen and (max-width:768px){
    .caja-Personajes{
        
        width: 90%;
        height: 1700px;
        display: grid;
        grid-template-rows: repeat(7,15%);
        grid-template-columns: repeat(1,100%);
        gap: 25px;
        justify-content: center;
        align-items: center;
    }
    
}

